.root {
    -fx-background-color: rgb(3, 177, 252);
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}

.scene_elements {
    -fx-alignment: CENTER;
    -fx-spacing: 20;
}

.game_pane {
    -fx-border-radius: 30px;
    -fx-border-width: 20px;
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-background-radius: 23px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 20, 0, 0, 10);
}

.coin_hud {
    -fx-alignment: CENTER;
    -fx-spacing: 6;
}

.game_hud {
    -fx-alignment: TOP;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 20, 0, 0, 10);
}